 <nav class="#0097a7 cyan darken-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left hide-on-med-and-up flow-text">Сервисы Пансиона</a>
      <a href="/" class="brand-logo center hide-on-small-only">Сервисы Пансиона</a>
    </div>
  </nav>