{{> head}}
    <body> 
    {{>navbar}}
    <div class="container">
         
        {{{ body }}}
        <div class="container"> {{>popup}}</div>
        
    </div>
    
     <script src="/main.js"></script>   
     <script src="/lib.js"></script>
    </body>
</html>
