{{> head}}
    <body> 
    {{>navbar}}
     <div class="container"> {{>popup}}</div>
    <div class="container">
        
        {{{ body }}}
        
        
    </div>
    
     <script src="/main.js"></script>   
     <script src="/lib.js"></script>
    </body>
</html>
