<div class="row">
    {{#each menu}}
      <div class="col s6 m6 h4 l3 ">
                <a href="{{this.link}}">
                <p class="center-align" style="font-size: 20px;">{{this.text}}</p>
                <img  class="responsive-img" width="300" src="img/{{this.pic}}">     
                </a>
            </div> 
    {{/each}}
    </div>
